<form action="/" method="POST">
    <div class="row">
        <div class="col-auto">
            <input class="form-control" type="text" name="listItem" placeholder="add list" autocomplete="off">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" type="submit" name="button" value=<%= item.id %>>Submit</button>
        </div>
    </div>
</form>