
    <form action="/add-list" method="POST">
        <div class="d-flex">
            <div class="w-25">
                <input class="form-control" type="text" name="listName" placeholder="Create List" autocomplete="off">
            </div>
            <div class="ms-2">
                <button class="btn btn-primary" type="submit" name="button" value="list">Add</button>
            </div>
        </div>
    </form>
